<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" (click)="loginWithGoogle()" class="btn btn btn-primary btn-block">Login With Google</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" (click)="loginWithFacebook()" class="btn btn btn-success btn-block">Login With Facebook</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>